@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-menu {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 1000px) {
  .hero-wrapper {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .hero-content {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 610px) {
  .hero-img {
    width: 100%;
  }

  .hero-title {
    font-size: 32px;
    line-height: 42px;
  }
}

@media (max-width: 420px) {
  .hero {
    padding: 50px 0;
  }

  .hero-btn {
    width: 100%;
    cursor: pointer;
  }
}

@media (max-width: 1160px) {
  .services-cards {
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .preset-store-cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }
}
