@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-menu {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 1000px) {
  .hero-wrapper {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .hero-content {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 610px) {
  .hero-img {
    width: 100%;
  }

  .hero-title {
    font-size: 32px;
    line-height: 42px;
  }
}

@media (max-width: 420px) {
  .hero {
    padding: 50px 0;
  }

  .hero-btn {
    width: 100%;
    cursor: pointer;
  }
}

@media (max-width: 1160px) {
  .services-cards {
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .preset-store-cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }
}
@media (max-width: 860px) {
  .box {
    width: 100%;
    gap: 70px;
    padding: 40px;
  }
  .contact-title {
    font-size: 20px;
    max-width: 270px;
    line-height: 30px;
  }
}
@media (max-width: 600px) {
  .box {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .contact-title {
    text-align: center;
  }
}
@media (max-width: 950px) {
  .footer-columns {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .footer-column {
    align-items: center;
    text-align: center;
  }
  .footer-copyright {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }
}
