:root {
  --primary-color: #3a5f56;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1168px;
  margin: 0 auto;
}
.navbar {
  padding: 20px 0;
}
.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-links a {
  text-decoration: none;
  color: var(--primary-color);
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
}
.navbar-btn {
  border: none;
  color: #fff;
  background-color: var(--primary-color);
  padding: 11px 44px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
}

.hero {
  padding: 100px 0;
  background-color: #f4f3f0;
}
.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-content {
  display: flex;
  gap: 14px;
  flex-direction: column;
}
.hero-title {
  font-size: 48px;
  line-height: 57px;
  color: var(--primary-color);
  max-width: 477px;
}
.hero-text {
  color: #292c32;
  font-size: 16px;
  line-height: 22.4px;
  max-width: 534px;
}
.hero-btn {
  border: none;
  padding: 11px 18px;
  background-color: var(--primary-color);
  border-radius: 6px;
  width: max-content;
  color: #fff;
}

.services {
  padding: 100px 0;
}

.services-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.services-icon {
  width: 160px;
  height: 20px;
}

.services-title {
  font-size: 32px;
  font-weight: 400;
  color: var(--primary-color);
}

.services-text {
  color: #292c32;
  max-width: 591px;
}

.services-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.services-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  gap: 12px;
  background-color: #f4f3f0;
  padding: 30px;
  border-radius: 16px;
}

.services-card-icon {
  width: 48px;
  height: 48px;
}

.services-card h1 {
  font-size: 24px;
  color: var(--primary-color);
}

.services-card p {
  max-width: 310px;
}

.services-card button {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  font-size: 17px;
  color: var(--primary-color);
}
.preset-store {
  padding: 100px 0;
  background-color: #f4f3f0;
}
.preset-store-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 13px;
}
.preset-store-icon {
  width: 160px;
  height: 19px;
}
.preset-store-title {
  font-size: 32px;
  color: #db343b;
  font-weight: 400;
}
.preset-store-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  max-width: 591px;
}
.preset-store-cards {
  display: flex;
  gap: 17px;
}
.preset-store-card {
  width: 378px;
}
.preset-store-card-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  margin-top: -10px;
}
.preset-store-card-content h1 {
  font-weight: 400;
  font-size: 24px;
  color: var(--primary-color);
}
.preset-store-card-content p {
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-color);
  max-width: 317px;
  line-height: 22.4px;
}
.preset-store-btn {
  border: none;
  background-color: transparent;
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 17px;
  color: var(--primary-color);
  cursor: pointer;
}
