:root {
  --primary-color: #3a5f56;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1168px;
  margin: 0 auto;
}
.navbar {
  padding: 20px 0;
}
.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-links a {
  text-decoration: none;
  color: var(--primary-color);
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
}
.navbar-btn {
  border: none;
  color: #fff;
  background-color: var(--primary-color);
  padding: 11px 44px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
}

.hero {
  padding: 100px 0;
}
.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-content {
  display: flex;
  gap: 14px;
  flex-direction: column;
}
.hero-title {
  font-size: 48px;
  line-height: 57px;
  color: var(--primary-color);
  max-width: 477px;
}
.hero-text {
  color: #292c32;
  font-size: 16px;
  line-height: 22.4px;
  max-width: 534px;
}
.hero-btn {
  border: none;
  padding: 11px 18px;
  background-color: var(--primary-color);
  border-radius: 6px;
  width: max-content;
  color: #fff;
}
.photo-volna {
}
